*{
    margin: 0;
    padding : 0;
    box-sizing: border-box; 
}

body {
    display : flex ;
    align-items: space-between;
    align-content: space-between;
    justify-content: center;
    position : relative;
    top: 200px;
}